.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(36, 193, 233, 0.2);
  opacity: 1;
}

.Loader {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
