@import 'styles/shared';
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  background-color: $white;
  color: $main-color;
  line-height: 1.5;
  font-family: $primary-font-stack;
  background-image: url(../images/bg.png);
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
