@import 'styles/shared';

.filter__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.filter__input {
  @extend %input;
  width: 100%;
}

.filter__hint {
  margin-bottom: 10px;
}
